/*

Set Maximum Server Memory (IMPORTANT on VMs-Change based on particular SQL Server memory requirements)
Set Cost Threshold For Parallelism to 50 (New Standard)
Set Optimize For Adhoc Workloads enabled
Set Dedicated Admin Connection (aka Remote Admin Connections) enabled
Change Model DB Recovery Mode to Simple
Set Initial Size of database for Model (will create any new databases the same size)
Change ALL system databases to MB Growth (percent growth is bad practice)
Disable 'sa' account
Create Network Logins and Permissions for network tools
Change Default SQL Backup Directory to Network database backup location
Enable Backup Compression as default
Change the Number of SQL Error Logs from default to 10
Request AD Groups from Security through AccessNow. (Per Database)
On HPDBA, use the following to create the Security Groups based on the database

*/
/*
NOT NECESSARY WITH NEW sql 2022 INSTALL--------------------------------------------------

--  Set Maximum Server Memory (IMPORTANT on VMs)

EXEC sys.sp_configure N'show advanced options', N'1'  RECONFIGURE WITH OVERRIDE
GO
--EXEC sys.sp_configure N'max server memory (MB)', N'26624'
--GO
RECONFIGURE WITH OVERRIDE
GO
EXEC sys.sp_configure N'show advanced options', N'0'  RECONFIGURE WITH OVERRIDE
GO
-----------------------------------------------------------------------------------------
*/

-- Set Cost Threshold For Parallelism to 50 (New Standard)
-- Set Optimize For Adhoc Workloads enabled
-- Set Dedicated Admin Connection (aka Remote Admin Connections) enabled

EXEC sys.sp_configure N'show advanced options', N'1'  RECONFIGURE WITH OVERRIDE
GO
--EXEC sys.sp_configure N'cost threshold for parallelism', N'50'
--GO
--RECONFIGURE WITH OVERRIDE
--GO
--EXEC sys.sp_configure N'max degree of parallelism', N'8'
--GO
--RECONFIGURE WITH OVERRIDE
--GO
EXEC sys.sp_configure N'optimize for ad hoc workloads', N'1'
GO
EXEC sys.sp_configure N'remote admin connections', N'1'
GO
RECONFIGURE WITH OVERRIDE
GO
EXEC sys.sp_configure N'show advanced options', N'0'  RECONFIGURE WITH OVERRIDE
GO

-- DO NOT - Change Model DB Recovery Mode to Simple. JTMc 2023-10-17. we are now skipping this an letting model be full recovery for new servers
-- Set Initial Size of database for Model (will create any new databases the same size)
-- Change ALL system databases to MB Growth (percent growth is bad practice)

/* JTMc 2023-10-17. we are now skipping this and letting model be full recovery for new servers
USE [master]
GO
*/

USE [master]
ALTER DATABASE [model] MODIFY FILE ( NAME = N'modeldev', SIZE = 1048576KB , FILEGROWTH = 131072KB )
GO
ALTER DATABASE [model] MODIFY FILE ( NAME = N'modellog', SIZE = 1048576KB , FILEGROWTH = 131072KB )
GO
USE [master]
GO
ALTER DATABASE [master] MODIFY FILE ( NAME = N'master', FILEGROWTH = 102400KB )
GO
ALTER DATABASE [master] MODIFY FILE ( NAME = N'mastlog', FILEGROWTH = 102400KB )
GO
USE [master]
GO
ALTER DATABASE [msdb] MODIFY FILE ( NAME = N'MSDBData', FILEGROWTH = 102400KB )
GO
ALTER DATABASE [msdb] MODIFY FILE ( NAME = N'MSDBLog', FILEGROWTH = 102400KB )
GO

-- Disable 'sa' account

--ALTER LOGIN [sa] DISABLE

-- Create Network Logins and Permissions for network tools

/* USE [master]
GO
CREATE LOGIN [HEALTHPARTNERS\netservice] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
EXEC master..sp_addsrvrolemember @loginame = N'HEALTHPARTNERS\netservice', @rolename = N'sysadmin'
GRANT VIEW SERVER STATE TO [HEALTHPARTNERS\netservice]
GRANT VIEW ANY DATABASE TO [HEALTHPARTNERS\netservice]
GRANT VIEW ANY DEFINITION TO [HEALTHPARTNERS\netservice]
EXEC sp_adduser @loginame = 'HEALTHPARTNERS\netservice' ,@name_in_db = 'HEALTHPARTNERS\netservice' 
GRANT EXECUTE ON xp_readerrorlog TO [HEALTHPARTNERS\netservice]
GRANT EXEC on sys.sp_readerrorlog to  [HEALTHPARTNERS\netservice]

USE msdb
GO
EXEC sp_adduser @loginame = 'HEALTHPARTNERS\netservice' ,@name_in_db = 'HEALTHPARTNERS\netservice' 
EXEC sp_addrolemember N'db_datareader', N'HEALTHPARTNERS\netservice'

USE [master]
GO
CREATE LOGIN [HEALTHPARTNERS\SGNetworkServices] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
EXEC master..sp_addsrvrolemember @loginame = N'HEALTHPARTNERS\SGNetworkServices', @rolename = N'sysadmin' */

-- Change Default SQL Backup Directory to Network database backup location

/* USE [master]
GO
EXEC xp_instance_regwrite N'HKEY_LOCAL_MACHINE', N'Software\Microsoft\MSSQLServer\MSSQLServer', N'BackupDirectory', REG_SZ, N'\\jhppure\DB_Backup'
GO */

-- Enable Backup Compression as default

EXEC sys.sp_configure N'backup compression default', N'1'
GO
RECONFIGURE WITH OVERRIDE
GO

-- Change the Number of SQL Error Logs from default to 10

USE [master]
GO
EXEC xp_instance_regwrite N'HKEY_LOCAL_MACHINE', N'Software\Microsoft\MSSQLServer\MSSQLServer', N'NumErrorLogs', REG_DWORD, 10
GO


-- Add the db_executor database role to the model DB so it will available in newly created databases. This way we can grant DB execute permissionf
-- via a role rather than directly on a user/login/group.
USE MODEL 
GO

IF DATABASE_PRINCIPAL_ID('db_executor') IS NULL 
BEGIN 
	CREATE ROLE db_executor AUTHORIZATION dbo 
END 

GRANT EXECUTE TO db_executor 


/*******************************************************************************************
	-- Create the DBA database. Change the drive letter and paths as necessary.
*******************************************************************************************/
USE MASTER
GO

CREATE DATABASE DBA ON PRIMARY
    (NAME=N'DBA', FILENAME=N'E:\Data\DBA.mdf', SIZE=4GB, MAXSIZE=UNLIMITED, FILEGROWTH=100MB)
  LOG ON 
    (NAME=N'DBA_log', FILENAME=N'F:\Logs\DBA_log.ldf', SIZE=1GB, MAXSIZE=2048GB, FILEGROWTH=100MB)
-- ==========================================================================================
/*  IF CREATE DBA error due to MODEL DB, run the following and kill connection.
IF EXISTS (
        SELECT request_session_id
        FROM sys.dm_tran_locks
        WHERE resource_database_id = DB_ID('model')
        )
BEGIN
    PRINT 'Model Database in use!!'
 
    SELECT *
    FROM sys.dm_exec_sessions
    WHERE session_id IN (
            SELECT request_session_id
            FROM sys.dm_tran_locks
            WHERE resource_database_id = DB_ID('model')
            )
END
ELSE
    PRINT 'Model Database not in used.'
	*/


-- Request AD Groups from Security through AccessNow. (Per Database)
-- See: \\HPFS\\IS\EDM\DAD\SQL Server\SQL Server Scripts\PostInstallScripts\How to request membership of a DB access group in AccessNow.docx
-- UPDATE: 20190812 - Security team has developed a daily process which pulls the list of servers and databases from AMDB and then
-- 									creates the standard security groups in AD. The groups get generated only when the daily process finds a new database
-- 									in AMDB.


-- After the security groups are in AD (which implies the databases have already been created and collected by AMDB), you can use 
-- the following proc to generate the DDL to create logins and users for any user databases that exist.
-- This will only generate output AFTER the server is added to the central management server in AMDB and then you wait a day for the JOB to
-- collect the server, database etc information into AMDB. If there are no databases when the AMDB collection process runs then
-- the following proc will not generate any output. The output of this proc is driven by the list of databases in AMDB.
-- Note: The groups obviously need to exist in AD before executing the output of this proc.
USE [AMDB]
DECLARE @param_HPPServerName varchar(100)
DECLARE @param_HPPDatabaseName varchar(128)
DECLARE @param_GenOffshoreOnly bit

SET @param_HPPServerName    = '<instance_name>,<port_number>'
SET @param_HPPDatabaseName  = '<db_name>'
SET @param_GenOffshoreOnly	= 0; -- 0 = do not generate offshore groups, 1 = ONLY generate offshore groups

EXECUTE dbo.prc_GenerateADGroupPermissionsDCL @param_HPPServerName, @param_HPPDatabaseName 


